.photo_main__shadow_background {
 @apply absolute top-0 right-0 left-0 bottom-0;

 background-image: linear-gradient(
  0deg,
  #ffffff 40%,
  rgba(217, 217, 217, 0) 95%
 );

 @media screen(md) {
  background-image: linear-gradient(
   270deg,
   #ffffff 5.58%,
   rgba(217, 217, 217, 0) 82.29%
  );
 }
}

.photo_main__image {
 transform: rotate(45deg) translate(-350px);

 @media screen(md) {
  transform: rotate(45deg) scale(1.25) translate(-70px, -100px);
 }
}

.details_text {
 @apply bottom-0 absolute w-full md:relative md:w-2/5;

 &_name {
  @apply text-center;

  @media screen(md) {
   @apply text-left;
   margin-left: -200px;
  }
 }
}
