.year {
 @apply text-2xl text-right py-3;
}

.timeline__item {
 --spacing: -1.55px;
 --color-timeline: #333;
 --size-indicator-md: 50px;
 --size-indicator-base: 75px;

 @apply flex flex-col;

 width: 150px;

 @media screen(md){
  width: auto;
 }

 .timeline__icon{
  @apply flex flex-row w-full items-center;
  transform: rotate(90deg);

  @media screen(md){
   transform: none;
  }
 }

 &:last-child .left_separator {
  background-color: transparent;

  &:after{
   border: none;
  }

  @media screen(md){
   &{
    background-color: var(--color-timeline);
   }

   &:after{
    border: 1px solid var(--color-timeline);
    border-left: none;
    border-right: none;
   }
  }
 }

 @media screen(md){
  &:last-child .right_separator {
   background-color: transparent;
   &:after {
    border: none;
   }
  }
 }

 .indicator {
  display: inline-block;
  border-radius: 100%;
  background-color: var(--color-timeline);

  height: var(--size-indicator-base);
  width: var(--size-indicator-base);

  @media screen(md){
   height: var(--size-indicator-md);
   width: var(--size-indicator-md);
  }

  &:after {
   border-radius: 100%;
  }
 }

 .indicator,
 .left_separator,
 .right_separator {
  position: relative;
  z-index: 9999;

  &::after {
   content: " ";
   position: absolute;
   top: var(--spacing);
   bottom: var(--spacing);
   left: var(--spacing);
   right: var(--spacing);
   border: 1px solid var(--color-timeline);
  }
 }

 .left_separator,
 .right_separator {
  background-color: var(--color-timeline);
  height: 4px;
  width: 35px;

  @media screen(md){
   transform: none;
  }

  &::after {
   border-left: none;
   border-right: none;
  }
 }
}
